.datos{
    display: flex;
    justify-content: center; 
  }
  
  .imagen-peque {
    display: flex;
    justify-content: center; 
    height: 200px; 
    
  }

  .uwu{
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    height: 30vh; 
  }