<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  

<div id="container">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-input id="rut" name="rut" label="Rut" labelPlacement="floating" placeholder="Ingrese rut alumno"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input id="contrasenadd" name="contrasenadd" label="Contaseña" labelPlacement="floating" type="password" placeholder="Ingrese contraseña"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="login()">Iniciar sesion</ion-button>
      <ion-button expand="block" (click)="backtohome()">Volver a home</ion-button>
    </ion-card-content>
  </ion-card>
</div>



</ion-content>

