.datos{
  display: flex;
  justify-content: center; 
  //align-items: center;
  height: 25vh; 
}

#reloj {
    font-size: 24px;
  }
  
  #fecha {
    font-size: 16px;
    margin-top: 10px;
  }

  .imagen-peque {
    display: flex;
    justify-content: center; 
    height: 250px; 
    
  }