.datos{
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 25vh; 
  margin: 15px;
}

#reloj {
    font-size: 24px;
  }
  
  #fecha {
    font-size: 16px;
    margin-top: 10px;
  }