<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>





<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <form>
    <br>
    <ion-title> Información adicional </ion-title>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input name="nombre" id="nombre" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input name="apellido" id="apellido" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rut</ion-label>
      <ion-input name="rut" id="rut" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Carrera</ion-label>
      <ion-input name="carrera" id="carrera" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input  name="contrasena" id="contrasena" required type="password"></ion-input>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-select placeholder="Seleccione una region">
          <div slot="label">Region</div>
          <ion-select-option value="Arica y Parinacota">I Arica y Parinacota</ion-select-option>
          <ion-select-option value="Tarapacá">II Tarapacá</ion-select-option>
          <ion-select-option value="Antofagasta">III Antofagasta</ion-select-option>
          <ion-select-option value="Atacama">IV Atacama</ion-select-option>
          <ion-select-option value="Coquimbo">V Coquimbo</ion-select-option>
          <ion-select-option value="Valparaíso">VI Valparaíso</ion-select-option>
          <ion-select-option value="Metropolitana de Santiago">VII Metropolitana de Santiago</ion-select-option>
          <ion-select-option value="Libertador General Bernardo O'Higgins">VIII Libertador General Bernardo O'Higgins</ion-select-option>
          <ion-select-option value="Maule">IX Maule</ion-select-option>
          <ion-select-option value="Región de Ñuble">X Región de Ñuble</ion-select-option>
          <ion-select-option value="Región del Biobío">XI Región del Biobío</ion-select-option>
          <ion-select-option value="Región de La Araucanía">XII Región de La Araucanía</ion-select-option>
          <ion-select-option value="Región de Los Ríos">XIII Región de Los Ríos</ion-select-option>
          <ion-select-option value="Región de Los Lagos">XIV Región de Los Lagos</ion-select-option>
          <ion-select-option value="Región de Aysén del General Carlos Ibáñez del Campo">XV Región de Aysén del General Carlos Ibáñez del Campo</ion-select-option>
          <ion-select-option value="Región de Magallanes y de la Antártica Chilena">XVI Región de Magallanes y de la Antártica Chilena</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-select placeholder="Seleccione una comuna">
          <div slot="label">Comuna</div>
          <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
  
  <ion-card>
    <ion-button expand="block" (click)="registro()">Registrar</ion-button>
    <ion-button expand="block" (click)="backtohome()">Volver a home</ion-button>
  </ion-card>
</ion-content>
